blocky-block {
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  vertical-align: middle;
  display: inline-block;
  pointer-events: all;
  z-index: 1;

  &[disabled] {
    pointer-events: none;
  }

  &[type="expressionHole"],
  >blocky-block {
    position: relative;
    height: auto;
  }
  
  &[type="expressionHole"] {
    margin: 0 5px;
    pointer-events: none;

    &:has(blocky-block) {
      pointer-events: all;
    }
  }
}

:host(blocky-block[attract="last"]) {
  .block [data-highlight="last"] {
    opacity: 1;
  }
}
:host(blocky-block[attract="parent"]) {
  .block [data-highlight="parent"] {
    opacity: 1;
  }
}
:host(blocky-block[attract="next"]) {
  .block [data-highlight="next"] {
    opacity: 1;
  }
}
:host(blocky-block[attract="child"]) {
  .block [data-highlight="child"] {
    opacity: 1;
  }
}
:host(blocky-block[child-linked]) {
  [data-type="expressionHole"] {
    [data-container="shape"] {
      display: none !important;
    }
    [data-container="child"] {
      height: auto !important;
    }
  }
}
:host(blocky-block) {
  .shape:hover {
    filter: brightness(.975);
  }
}
:host(blocky-block[focused]) {
  .shape {
    filter: brightness(.9);
  }
}

:host(blocky-block) {
  [data-container="shape"] {
    // 1 or -1: (2*(.5 - var(--layers-odd, 0)))
    filter: brightness(calc(1 + .05*(2*(.5 - var(--layers-odd, 0)))));
  }
  .block {
    --size: 20px;
    --width: calc(5 * var(--size));
    --height: calc(2.5 * var(--size));
    --color: #eee;
    --highlight-color: rgba(255, 200, 50, .5);

    position: relative;
    min-width: var(--width, 0);
    min-height: var(--height, 0);
    display: flex;
    flex-flow: column;
    fill: var(--color);
    z-index: 0;
    user-select: none;

    .shape {
      position: relative;
      display: flex;
      flex-flow: row;
    }

    [data-container] {
      position: relative;
    }

    [data-highlight] {
      position: absolute;
      background-color: var(--highlight-color);
      opacity: 0;
      z-index: 21;

      &[data-highlight="last"],
      &[data-highlight="next"] {
        right: 0;
        left: 0;
        height: calc(var(--size) / 2);
      }
      &[data-highlight="last"] {
        top: 0;
        transform: translateY(-50%);
      }
      &[data-highlight="next"] {
        bottom: 0;
        transform: translateY(50%);
      }
      &[data-highlight="parent"],
      &[data-highlight="child"] {
        top: 0;
        bottom: 0;
        width: calc(var(--size) / 2);
      }
      &[data-highlight="parent"] {
        left: 0;
        transform: translateX(-50%);
      }
      &[data-highlight="child"] {
        right: 0;
        transform: translateX(50%);
      }
    }

    &[data-type="stackTop"] {
      --color: #fcc;
      [data-container="child"] {
        display: none;
      }
    }
    &[data-type="stackMiddle"] {
      --color: #ffc;
      [data-container="child"] {
        display: none;
      }
    }
    &[data-type="stackBottom"] {
      --color: #cfc;
      [data-container="next"],
      [data-container="child"] {
        display: none;
      }
    }
    &[data-type="composite"] {
      --color: #cff;
      [data-container="child"] {
        margin: calc(var(--size) * .6) 0;
      }
    }
    &[data-type="contained"] {
      --color: #ccf;
      [data-container="child"] {
        display: none;
      }
    }
    &[data-type="expression"] {
      --color: #fcf;
      [data-container="child"],
      [data-container="next"] {
        display: none;
      }
    }
    &[data-type="expressionHole"] {
      --color: #ccc;
      .shape {
        flex-direction: column-reverse;
      }
      [data-container="child"] {
        position: relative;
        height: 0;
      }
      [data-container="next"] {
        display: none;
      }
      [data-highlight="child"] {
        left: 0;
        transform: none;
        width: auto;
      }
    }

    [data-container="shape"] {
      position: relative;
      min-width: var(--width, 0);
      min-height: var(--height, 0);
      display: inline-flex;
      flex-flow: column;
      z-index: 10;
      
      [data-row] {
        display: flex;
        flex-flow: row;
        z-index: 10;

        &[data-row="middle"] {
          margin: calc(var(--size) / -2) 0;
          padding: 0 1em;
          box-sizing: border-box;
          background-color: var(--color);
          flex: 1 1 0%;
          display: flex;
          flex-flow: row;
          align-items: center;
          justify-content: center;
          z-index: 11;
        }

        .fill {
          height: var(--size);
          background-color: var(--color);
          flex: 1 1 0%;
          pointer-events: none;
          &:not(:last-child) {
            margin-right: -1px;
          }
          &:not(:first-child) {
            margin-left: -1px;
          }
        }

        .wrap {
          height: var(--size);
          background-color: var(--color);
          pointer-events: none;

          svg {
            height: 100%;
            display: inline-block;
          }
        }
      }
    }
  }
}